body {
  background-color: #FFF;
}

h1 {
  color: #F00;
}

table {
  background-color: #FFF;
}

div#test01 {
  color: #00a;
}

.important {
  color: #F00;
}

td {
  text-align: center;
}

td,th {
 border: 1px solid #000;
}

.last3 {
 font-weight: bold;
 text-decoration: underline;
}

.el {
  background-color: aqua;
}

.ol {
  background-color: antiquewhite;
}

#members {
  border-collapse: collapse;
}

.name {
  color: #00a;
  text-align: center;
}
